---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="h-screen w-screen flex justify-center items-center">
    <div class="font-serif text-xl capsize border border-red-500">
      Postcards To Oxford
    </div>
  </main>
</Layout>
