---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const messages = await getCollection("messages");
---

<Layout
  title="Happy birthday Russell!"
  description="SD4's Birthday cards for Russell's 24th birthday!"
>
  <main class="px-24 pt-80 pb-200">
    <h1
      class="font-serif text-7xl md:text-8xl lg:text-9xl text-gray-800 leading-none capsize text-center"
    >
      Postcards <br />to Oxford
    </h1>
    <h2
      class="mt-64 font-sans text-lg md:text-xl lg:text-2xl text-gray-800 capsize text-center"
    >
      From Singapore to Oxford; from SD4 to Russell — happy 24th birthday
      Russell!
    </h2>
    <div
      class="mt-280 sm:mt-360 md:mt-200 flex flex-col items-center gap-[400px] sm:gap-[640px] md:gap-320"
    >
      {
        messages.map((message, idx) => (
          <Card
            author={message.data.author}
            contents={message.body}
            index={idx}
          />
        ))
      }
    </div>
  </main>
</Layout>
