---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Happy birthday Russell!">
  <main class="px-120 py-80">
    <h1 class="font-serif text-[120px] text-[#1F2937] leading-none capsize">
      Postcards <br />to Oxford
    </h1>
    <h2 class="mt-64 font-sans text-2xl capsize">
      From Singapore to Oxford; from SD4 to Russell <br /> — happy 24th birthday
      Russell!
    </h2>
    <div class="mt-200 flex justify-center"><Card /></div>
  </main>
</Layout>
