---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Happy birthday Russell!">
  <main class="p-120">
    <h1 class="font-serif text-[120px] text-[#1F2937] leading-none capsize">
      Postcards <br />to Oxford
    </h1>
  </main>
</Layout>
