---
import type { ImageMetadata } from "astro";
import { Picture } from "astro:assets";

interface Props {
  author: string;
  imagePath: string;
  contents: string;
  index: number;
}

const { author, imagePath, contents, index } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif}",
);
if (!images[imagePath])
  throw new Error(
    `"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`,
  );
---

<div class="relative rotate-90 md:rotate-0">
  <article
    class={`card group aspect-[3/2] w-[unset] h-[85vw] md:w-[760px] md:h-[unset] lg:w-[960px] cursor-pointer ${
      index % 2 === 0 ? "-rotate-3" : "rotate-3"
    }`}
  >
    <div class="card-base">
      <div class="card-front shadow-lg group-hover:shadow-2xl">
        <div class="card-front-border">
          <div
            class="bg-white w-full h-full p-12 xxxs:p-14 xxs:p-18 xs:p-20 sm:p-24 lg:p-32 rounded-lg"
          >
            <p
              class="font-handwriting text-gray-800 text-[10px] xxxs:text-xs xxs:text-sm xs:text-base sm:text-lg lg:text-2xl w-[80%] sm:w-[75%]"
            >
              From {author},<br />
              {contents}
            </p>
          </div>
          <div
            class={`stamp ${
              index % 5 === 0
                ? "rotate-12 bg-stamp1"
                : index % 5 === 1
                  ? "-rotate-6 bg-stamp2"
                  : index % 5 === 2
                    ? "rotate-3 bg-stamp3"
                    : index % 5 === 3
                      ? "-rotate-12 bg-stamp4"
                      : "rotate-6 bg-stamp5"
            }`}
          >
          </div>
        </div>
      </div>
      <div class="card-back">
        <div class="card-back-border">
          <!-- <img class="card-back-img" src="/images/sample-img.jpg" /> -->
          <Picture class="card-back-img" src={images[imagePath]()} formats={['avif', 'webp']} densities={[1, 1.5, 2]} alt="sample alt text"/>
        </div>
      </div>
    </div>
  </article>
  {
    index === 0 ? (
      <>
        <div class="absolute hidden md:block md:-bottom-[14%] md:-left-[6%] -z-10">
          <svg
            class="fill-gray-800 md:w-96 lg:w-120"
            viewBox="0 0 146 132"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="m32.1425 2.29821c-.5213-1.572693-2.2189-2.424981-3.7916-1.903637l-25.62849 8.495787c-1.57269.52134-2.424977 2.21894-1.903634 3.79154.521344 1.5727 2.218894 2.425 3.791594 1.9037l22.78093-7.55182 7.5518 22.78092c.5213 1.5727 2.2189 2.425 3.7916 1.9036 1.5727-.5213 2.425-2.2189 1.9036-3.7916zm113.1215 100.37079c.236-1.64-.902-3.1607-2.542-3.3963l-26.726-3.8395c-1.64-.2356-3.161.9029-3.396 2.5429-.236 1.6401.903 3.1609 2.543 3.3959l23.756 3.413-3.413 23.756c-.236 1.64.903 3.161 2.543 3.396 1.64.236 3.16-.903 3.396-2.543zm-118.6501-100.77289c-20.72748 41.28409-10.2232 80.96769 15.1632 103.35189 25.4216 22.416 65.3279 27.091 102.3159-.604l-3.596-4.8032c-34.807 26.0622-71.5482 21.3662-94.7517.9072-23.2386-20.4907-33.3368-57.186-13.7693-96.15974z" />
          </svg>
          <p class="font-handwriting md:text-lg lg:text-xl text-gray-800 absolute -right-[24%] -bottom-[32%]">
            Click to rotate!
          </p>
        </div>
        <div class="absolute -bottom-[4%] -right-[8%] md:hidden -z-10">
          <svg
            class="fill-gray-800 w-48 xxs:w-64 xs:w-80 sm:w-96"
            viewBox="0 0 145 132"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="m113.152 2.29821c.522-1.572693 2.219-2.424981 3.792-1.903637l25.629 8.495787c1.572.52134 2.424 2.21894 1.903 3.79154-.521 1.5727-2.219 2.425-3.791 1.9037l-22.781-7.55182-7.552 22.78092c-.522 1.5727-2.219 2.425-3.792 1.9036-1.572-.5213-2.425-2.2189-1.903-3.7916zm-113.1215111 100.37079c-.2356079-1.64.9028911-3.1607 2.5429111-3.3963l26.7256-3.8395c1.64-.2356 3.1605.9029 3.3961 2.5429.2356 1.6401-.9029 3.1609-2.5429 3.3959l-23.75608 3.413 3.41284 23.756c.23564 1.64-.90289 3.161-2.54291 3.396-1.64001.236-3.16051-.903-3.39612-2.543zm118.6505111-100.77289c20.728 41.28409 10.223 80.96769-15.163 103.35189-25.4218 22.416-65.328 27.091-102.31611-.604l3.59622-4.8032c34.80679 26.0622 71.54799 21.3662 94.75149.9072 23.2384-20.4907 33.3364-57.186 13.7694-96.15974z" />
          </svg>
          <p class="font-handwriting text-xs xxs:text-sm xs:text-base sm:text-lg text-gray-800 absolute -right-[120%] xxs:-right-[100%] xs:-right-[90%] sm:-right-[80%] bottom-[16%]">
            Click to rotate!
          </p>
        </div>
      </>
    ) : null
  }
</div>

<style>
  .card {
    background-color: transparent;
    perspective: 1000px;
  }

  .card-base {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s cubic-bezier(0.11, 0, 0.5, 0);
    transform-origin: center;
    transform-style: preserve-3d;
    will-change: transform;
  }

  .rotate {
    transform: rotateY(180deg);
  }

  .card-front,
  .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 0.5rem;
  }

  .card-front {
    transition: box-shadow 0.2s cubic-bezier(0.11, 0, 0.5, 0);
  }

  .card-back {
    background-color: white;
    transform: rotateY(180deg);
  }

  .card-front-border {
    width: 100%;
    height: 100%;
    padding: 12px;
    border-radius: 0.5rem;
    background-color: #fff;
    background-repeat: repeat-y;
    background-size: 100% 100%;
    background-position: 0% 0%;
    background-image: repeating-linear-gradient(
      -45deg,
      #fff,
      #fff 15px,
      #df5646 15px,
      #df5646 30px,
      #fff 30px,
      #fff 45px,
      #1c78a4 45px,
      #1c78a4 60px
    );
  }

  .card-back-border {
    padding: 12px;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    background-color: white;
  }

  .stamp {
    aspect-ratio: 1 / 1;
    width: 14.5vmin;
    position: absolute;
    top: 10%;
    right: 10%;
    white-space: pre;
    box-sizing: border-box;
    padding: 1.5vmin 2vmin;
    display: flex;
    align-items: flex-end;
    background-size: cover;
  }

  .stamp::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1 / 1;
    width: 19vmin;
    -webkit-mask:
      radial-gradient(farthest-side at 50% 0%, #0000 60%, #000 0) -2.25vmin 0 / 4.5vmin
        2.25vmin repeat-x,
      radial-gradient(farthest-side at 50% 100%, #0000 60%, #000 0) -2.25vmin 100% /
        4.5vmin 2.25vmin repeat-x,
      radial-gradient(farthest-side at 0% 50%, #0000 60%, #000 0) 0 -2.25vmin / 2.25vmin
        4.5vmin repeat-y,
      radial-gradient(farthest-side at 100% 50%, #0000 60%, #000 0) 100% -2.25vmin /
        2.25vmin 4.5vmin repeat-y;
    background: #f3f4f6;
  }

  .stamp::after {
    content: "Air Mail \a JAN . 12 . 24 \a OXF UK";
    white-space: pre-wrap;
    text-align: center;
    display: grid;
    place-items: center;
    font-size: 8px;
    font-family: Arial, sans-serif;
    color: #236c;
    line-height: 2;
    position: absolute;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    top: 60%;
    left: 60%;
    background:
      radial-gradient(farthest-side, #0000 95%, #2369 0),
      linear-gradient(#2369 0 0) 50% 40% / 75% 2.25% no-repeat,
      linear-gradient(#2369 0 0) 50% 60% / 75% 2.25% no-repeat;
    transform: rotate(13deg);
    -webkit-mask:
      radial-gradient(#0008, #0000 70%) 3% 3% / 5% 5%,
      radial-gradient(#000c, #0000 50%) 5% 5% / 7% 7%,
      radial-gradient(#0008, #0000 40%) 7% 7% / 11% 11%,
      radial-gradient(#0005, #0000 30%) 11% 11% / 13% 13%,
      radial-gradient(#000f, #0000 70%) 5% 5% / 13% 11%,
      radial-gradient(#000a, #0000 50%) 7% 9% / 14% 12%,
      radial-gradient(#0008, #0000 30%) 9% 11% / 9% 8%;
  }

  .card-back-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
  }

  @media (min-width: 360px) {
    .card-front-border {
      padding: 16px;
    }

    .card-back-border {
      padding: 16px;
    }
  }

  @media (min-width: 480px) {
    .stamp::after {
      font-size: 12px;
    }
  }

  @media (min-width: 1440px) {
    .stamp {
      width: 110px;
      padding: 11px 14px;
    }

    .stamp::before {
      width: 135px;
      -webkit-mask:
        radial-gradient(farthest-side at 50% 0%, #0000 60%, #000 0) -16px 0 / 32px
          16px repeat-x,
        radial-gradient(farthest-side at 50% 100%, #0000 60%, #000 0) -16px 100% /
          32px 16px repeat-x,
        radial-gradient(farthest-side at 0% 50%, #0000 60%, #000 0) 0 -16px / 16px
          32px repeat-y,
        radial-gradient(farthest-side at 100% 50%, #0000 60%, #000 0) 100% -16px /
          16px 32px repeat-y;
    }
  }
</style>

<script>
  const cards = document.querySelectorAll("article");

  cards.forEach((card) => {
    card.addEventListener("click", () =>
      card.firstElementChild?.classList.toggle("rotate"),
    );
  });
</script>
