<div
  class="card-base aspect-[3/2] w-[960px] p-16 rounded-lg shadow-lg -rotate-3"
>
  <div class="bg-white w-full h-full rounded-lg"></div>
</div>

<style>
  .card-base {
    background-color: #fff;
    background-repeat: repeat-y;
    background-size: 100% 100%;
    background-position: 0% 0%;
    background-image: repeating-linear-gradient(
      -45deg,
      #fff,
      #fff 15px,
      #df5646 15px,
      #df5646 30px,
      #fff 30px,
      #fff 45px,
      #1c78a4 45px,
      #1c78a4 60px
    );
  }
</style>
